extends ../layouts/panel-layout.pug

block content
    main.panel-container.container
        h1.display-1 Add Profit Table
        a.btn.btn-primary(href="/panel") Back
    .panel-table
        form.container.form-inline(method="POST", action="/panel-table")
            .form-group.row.row-cols-lg-auto.g-3
                .mb-3
                    h4
                        | January
                        hr
                    label.form-label(for="table-input") Percentage
                    input#table-input.form-control(type="text", name="january")
                .mb-3
                    h4
                        | February
                        hr
                    label.form-label(for="table-input") Percentage
                    input#table-input.form-control(type="text", name="february")
                .mb-3
                    h4
                        | March
                        hr
                    label.form-label(for="table-input") Percentage
                    input#table-input.form-control(type="text", name="march")
                .mb-3
                    h4
                        | April
                        hr
                    label.form-label(for="table-input") Percentage
                    input#table-input.form-control(type="text", name="april")
                .mb-3
                    h4
                        | May
                        hr
                    label.form-label(for="table-input") Percentage
                    input#table-input.form-control(type="text", name="may")
                .mb-3
                    h4
                        | June
                        hr
                    label.form-label(for="table-input") Percentage
                    input#table-input.form-control(type="text", name="june")
                .mb-3
                    h4
                        | July
                        hr
                    label.form-label(for="table-input") Percentage
                    input#table-input.form-control(type="text", name="july")
                .mb-3
                    h4
                        | August
                        hr
                    label.form-label(for="table-input") Percentage
                    input#table-input.form-control(type="text", name="august")
                .mb-3
                    h4
                        | September
                        hr
                    label.form-label(for="table-input") Percentage
                    input#table-input.form-control(type="text", name="september")
                .mb-3
                    h4
                        | October
                        hr
                    label.form-label(for="table-input") Percentage
                    input#table-input.form-control(type="text", name="october")
                .mb-3
                    h4
                        | November
                        hr
                    label.form-label(for="table-input") Percentage
                    input#table-input.form-control(type="text", name="november")
                .mb-3
                    h4
                        | December
                        hr
                    label.form-label(for="table-input") Percentage
                    input#table-input.form-control(type="text", name="december")
            button.btn.btn-primary(type="submit") Add Profit Table