extends ../layouts/panel-layout.pug

block content
    main.panel-container.container
        h1.display-1 Panel 
        .panel-container__buttons
            a.btn.btn-primary(href="/panel-accounts") Account Admission
            a.btn.btn-primary(href="/panel-tips") Modify Tips
            a.btn.btn-primary(href="/panel-table") Add Profit Table