extends ../layouts/main-layout.pug

block content
    section.about-hero.jumbotron.jumbotron-fluid 
        .container
            .about-hero__text-container
                h1.display-4.about-us Om oss
    section.about-text 
        .container.about-text__container
            p(align="justify") Win-Win Tips grundades i September år 2020. Vi tycker inte om att skryta, men vi kan säga att du nästan garanterat kommer att tjäna flera tusenlappar tillsammans med oss. Vi erbjuder djupa spelanalyser och speltips i flera olika sporter. Vårt mål är att ta just dig till toppen. Följ med från början och se oss växa tillsammans som en familj.