extends ../layouts/main-layout.pug

block content
    main.reset-password
        .container
            form.reset-password__form(action="/new-password", method="POST")
                .form-group
                    .mb-3
                        label.form-label(for="email-input") Nytt lösenord
                        input#email-input.form-control(type="password", name="password")
                input(type="hidden", name="userId", value=userId)
                input(type="hidden", name="token", value=token)
                button.btn.btn-success(type="submit") Återställ lösenord