extends ../layouts/main-layout.pug

block content
    section.register.container
        .register__container
            form#register-form
                input#captcha(type="hidden", name="captcha", value="")
                h1 
                    | Registrering
                    hr
                .mb-3
                    label.form-label(for="username-input") Användarnamn
                    input#username-input.form-control(type="text", name="username")
                .mb-3
                    label.form-label(for="email-input") Email Adress 
                    input#email-input.form-control(type="email", name="email")
                .mb-3
                    label.form-label(for="password-input") Lösenord
                    input#password-input.form-control(type="password", name="password")
                .mb-3
                    label.form-label(for="confirm-password-input") Bekräfta Lösenord
                    input#confirm-password-input.form-control(type="password", name="confirmPassword")
                .mb-3
                    .g-recaptcha(data-sitekey=captchaPublicKey, data-callback="onHuman", style="margin-bottom: 1rem;")
                .mb-3.form-check 
                    input.form-check-input#age-check(type="checkbox", name="ageCheck")
                    label.form-check-label(for="age-check") Jag har fyllt 18 år.
                .mb-3
                    input.btn.btn-success.register__btn(type="submit", value="Skapa konto")
        .payment
            .payment__info
                h1 
                    | Medlems Information
                    hr
                p(align="justify") Efter registrering måste betalning först godkännas av administratören innan ditt konto kan aktiveras. Medlemskapet varar i 30 dagar. Varje betalning aktiverar ditt konto de närmaste 30 dagarna, oavsett datum!
            //- .payment__image
            //-     h1
            //-         | Hur man betalar
            //-         hr
            //-     img(src="/images/payment.jpg")
            .payment__info
                h1 
                    | Hur man betalar
                    hr
                ul.payment__howto(list-style="dot")
                    li Betalning sker via swish till telefonnummer: 123 329 06 32
                    li Medlemskap kostar 300kr.
                    li Ange ditt fullständiga namn samt användarnamn som meddelande.
