extends ../layouts/main-layout.pug

block content
    main.reset-password
        .container
            //- form.reset-password__form(action="/reset-password", method="POST")
            form.reset-password__form#reset-password-form
                input#captcha(type="hidden", name="captcha", value="")
                .form-group
                    .mb-3
                        label.form-label(for="email-input") Email
                        input#email-input.form-control(type="text", name="email")
                .mb-3
                    .g-recaptcha(data-sitekey=captchaPublicKey, data-callback="onHuman", style="margin-bottom: 1rem;")
                //- button.btn.btn-success(type="submit") Återställ lösenord
                input.btn.btn-success(type="submit", value="Återställ lösenord")