extends ../layouts/main-layout.pug

block content
    section.rules-hero.jumbotron.jumbotron-fluid 
        .container
            .rules-hero__text-container
                h1.display-4 Spelregler
    section.rules-text 
        .container.rules-text__container
            h1.display-4.fs-2 Vad händer nu? 
            hr
            p.mb-3(align="justify")
                | Hej igen och välkommen till familjen! Innan vi sätter igång så är det viktigt att vi förklarar hur vår hemsida fungerar. Först och främst måste du som medlem avgöra hur stor din budget är just denna månad. Då vet du hur mycket 1% av din budget är. 
            p.mb-3(align="justify")
                | Exempel: Om din budget är 5000 kronor så delar du den summan på 100 för att få 1% vilket i detta fall är 50 kronor. 
            p.mb-3(align="justify")
                | Därefter så följer du mina spel med den exakta procentandelen som jag anger. I snitt så spelar vi på Win-win Tips cirka 15 spel i månaden. 
            p.mb-3(align="justify")
                | Det är jättedumt att vara en del av Win Win Tips och avsluta månaden i minus. För att lyckas så bra som möjligt så bör du följa mina spel, de matcherna som jag väljer att spela på samt hur många Procent “%” jag väljer att spela för. Många väljer att strunta i detta och chockas istället när de inte lyckas göra vinst i slutet av månaden. 
            p.mb-3(align="justify")
                | Många pratar om att vi på Win-Win TIps endast spelar med låga odds, men kom ihåg att 1.40 i odds är tillräckligt. Spela smart. Månaden är lång. Människor jobbar en hel månad för att få sin lön. Förvänta dig inte att du kan bli rik efter en dag. Dessutom, låt dig inte luras av människor som säljer säkra speltips och säkra matcher. Det är en ren bluff.
            p.mb-3(align="justify")
                | Nu till hemsidan. När du loggat in på ditt konto genom att trycka på loggan i vänstra hörnet så kommer du till VIP 1, 2 och 3. Du ska endast koncentrera dig på VIP 1. Där kommer vi lägga ut all information om de spel som du ska spela på. Dessa spel läggs upp vid olika tillfällen och inte varje dag så få inte panik om det ibland inte kommer upp något. 
            p.mb-3(align="justify")
                | TIll höger om “Spelregler” finns våran “vinsttabell” där kan du som medlem men även de andra, följa hur det har gått för oss tidigare månader.
            p.mb-3(align="justify")
                | Sist men inte minst, för att undvika att våra lappar sprids på internet så har vi infört några regler.                                                            
            ul.mb-3(list-style="dot")
                li
                    p.rules-header-text Logga in med samma enhet varje gång. De som loggar in via olika enheter kommer att bli blockerade och deras konto kommer att tas bort.
                li
                    p.rules-header-text Om någon annan säljer våra spel till er eller någon ni känner så skriv till oss. Hjälper du oss att komma fram till vem som säljer dessa lappar så blockeras personens konto och du får en månads gratis medlemskap.
            p(align="justify")
                | Ännu en gång, VÄLKOMMEN till Win-win Tips och tack för ditt förtroende. Har du några specifika frågor, skriv till oss på instagram!