extends ../layouts/main-layout.pug

block content
    section.rules-hero.jumbotron.jumbotron-fluid 
        .container
            .rules-hero__text-container
                h1.display-4 Spelregler
    section.rules-text 
        .container.rules-text__container
            p.rules-header-text(align="justify")
                | Det är jättedumt att vara en del av Win Win Tips och avsluta månaden i minus. För att lyckas så bra som möjligt så finns det 9 spelregler du bör följa. Många väljer att strunta i dessa regler och chockas istället när de inte lyckas göra vinst i slutet av månaden. 
            hr
            ul(list-style="dot")
                li
                    p Betta bara när du är övertygad!
                li
                    p Totalt odds upp till 1.80 är lagom. Med större insättning så är 1.30-1.40 i odds lagom. Alla spel över detta är för riskabelt och riktigt dumt.
                li
                    p Spela max 3 spel per spelkupong. 
                li
                    p Undvik att spela på bortalag. 
                li
                    p Undvik att spela på damer. 
                li
                    p Om du är osäker på något spel, skippa det isåfall!
                li
                    p Betta inte varje dag! Vänta på det rätta tillfället.
                li
                    p Spela inte singlar i fotboll under 1.30 i odds. Du kommer hitta en dubbelchans med 1.20-1.30 i odds, ta istället den chansen. 
                li
                    p Betta inte för ca 30-40 kr och betta aldrig hela din budget på en spelkupong.
            hr
            p.rules-header-text(align="justify")
                | Detta var allt gällande spelreglerna och kom ihåg att följa dessa. Låt dig inte luras av människor som säljer säkra speltips och säkra matcher. Kom ihåg att 1.40 i odds är tillräckligt. Spela smart. Månaden är lång. Människor jobbar en hel månad för att få sin lön. Förvänta dig inte att bli rik efter 1 dag!