extends ../layouts/main-layout.pug

block content
    - var months = ['Januari', 'Februari', 'Mars', 'April', 'Maj', 'Juni', 'Juli', 'Augusti', 'September', 'Oktober', 'November', 'December'];
    - var i = 0;

    section.profit-hero.jumbotron.jumbotron-fluid 
        .container
            .profit-hero__text-container
                h1.display-4 Vinsttabell
    section.profit-table.my-5
        .container
            - for (var i = 0; i < 12; i++) {
                - currentMonth = months[i];
                - currentPercentage = percentages[i];
                .d-flex.flex-row.justify-content-between.mb-3
                    .d-flex.justify-content-center.align-items-center
                        h5.fw-bolder.m-0 #{currentMonth}
                    if currentPercentage >= 0
                        .py-1.px-3.fw-bold.text-white.bg-success.percentage.d-flex.justify-content-center.align-items-center
                            h5.m-0 #{currentPercentage}%
                    else
                        .py-1.px-3.fw-bold.text-white.bg-danger.percentage.d-flex.justify-content-center
                            h5.m-0 #{currentPercentage}%
                hr            
            - }